$color1: #FFF7F2;
$color2: #FFF;

:host > div {
	height: 100%;
	display: flex;
	flex-direction: row;

	> div {
		height: 100%;
	}

	> div:nth-child(1) {
		background: linear-gradient($color1, $color2 75%);
	}

	> div:nth-child(2) {
		background: $color2;
		flex: 1;
	}

	.line {
		height: 2px;
		background-color: orange;
	}
}
