:host > div {
	padding: 20px;
	background-color: #F5F4F7;
	border-radius: 15px;
	text-align: center;
	position: relative;
	font-family: Source Sans Pro,Helvetica Neue,sans-serif;

	&::selection {
		color: none;
		background: none;
	}
	&::-moz-selection {
		background: transparent;
	}
	// fa-icon {
	// 	position: absolute;
	// 	right: 20px;
	// }
}
