:host > div {
	padding: 10px 15px;
	background-color: #F5F4F7;
	border-radius: 15px;
	text-align: center;
	position: relative;
	font-family: Source Sans Pro,Helvetica Neue,sans-serif;
	font-size: 14px;

	// fa-icon {
	// 	position: absolute;
	// 	right: 20px;
	// }
}
