:host > div {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 20px;

	.title {
		margin-bottom: 100px;
		font-size: 25px;
	}

	.buttons {
		display: flex;
		flex-direction: row;
		// justify-content: space-between;

		> div {
			flex: 1;
			border-radius: 20px;
			padding: 15px 30px;
			background-color: #eee;
			transition: all 50ms ease;
			text-align: center;

			&:nth-child(1) {
				margin-right: 20px;
			}

			&:hover {
				background-color: #ccc;
				color: #444;
				scale: 0.9;
			}

			&::selection {
				color: none;
				background: none;
			}
		}
	}
}
